:root {
  --dvh: 100%;
  
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  /* Decorative background for FIT mode */
  background-image: url('./assets/images/fitBackground.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  margin: 0;
  padding: 0;
  /* Use vw/vh as fallback for older devices without dvw/dvh */
  width: 100vw;
  height: 100vh;
  /* Overrride with dynamic units if supported */
  width: 100dvw;
  height: 100dvh;
  overflow: hidden;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  /* Decorative background for FIT mode */ 
  background-image: url('/assets/images/fitBackground.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;;
}

#game-container {
  width: 100dvw;
  /* dynamic height using dvh */ 
  height: calc(var(--dvh, 1dvh) * 100);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}